<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Admin dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/logo-title.png" />
    <!-- Template CSS -->
    <link href="/adminAssets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/userAssets/images/icons/logo-01.png" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/Dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Categories</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/categories">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products">Products list</a>
                        <a href="/admin/products/add-products">Add product</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orders">Orders</a>
                    </div>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Customers</span>
                    </a>
                    <div class="submenu ">
                        <a href="/admin/customers">Customers</a>
                    </div>
                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Offers</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/addCategoryOffer">Category offers</a>
                        <a href="/admin/addProductOffer">Product offers</a>
                    </div>
                </li>
                <br />
                <br />
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products"></option>
                        <option value="New orders"></option>
                        <option value="Apple iphone"></option>
                        <option value="Ahmed Hassan"></option>
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/adminAssets/imgs/theme/flag-us.png"
                                    alt="English" />English</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-fr.png"
                                    alt="Français" />Français</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-jp.png"
                                    alt="Français" />日本語</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-cn.png"
                                    alt="Français" />中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/adminAssets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logOut"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>


        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Customers</h2>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control" />
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Joined At</th>
                                    <th>Status</th>
                                    <th>Change status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% userData.forEach((user, index)=> { %>
                                    <tr>
                                        <td>
                                            <%= user.name %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                        <td>
                                            <%= user.joinedAtFormatted %>
                                        </td>
                                        <td>
                                            <span id="status-<%= user._id %>"
                                                class="badge <%= user.block ? 'bg-secondary' : 'bg-success' %>">
                                                <%= user.block ? 'Inactive' : 'Active' %>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <% if (user.block) { %>
                                                    <button onclick="handleUnblock('<%= user._id %>')"
                                                        id="unblockButton-<%= user._id %>"
                                                        class="btn btn-action btn-success" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Unblock">
                                                        <i class="bx bx-check-circle"></i> Unblock
                                                    </button>
                                                    <% } else { %>
                                                        <button onclick="handleBlock('<%= user._id %>')"
                                                            id="blockButton-<%= user._id %>"
                                                            class="btn btn-action btn-warning" data-bs-toggle="tooltip"
                                                            data-bs-placement="top" title="Block">
                                                            <i class="bx bx-block"></i> Block
                                                        </button>
                                                        <% } %>
                                            </div>
                                        </td>
                                        <td class="">
                                            <a href="/admin/customers/customer-profile/<%= user._id %>"
                                                class="btn btn-sm btn-brand rounded font-sm mt-15">View profile</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </main>
    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

        async function handleBlock(userId) {
            const confirmation = await confirmAction("block");
            if (confirmation) {
                try {
                    const response = await fetch("/admin/customers/block", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ userId }),
                    });

                    if (response.ok) {
                        // Update UI if blocking was successful
                        const statusSpan = document.querySelector(`#status-${userId}`);
                        const blockButton = document.querySelector(`#blockButton-${userId}`);
                        const unblockButton = document.querySelector(`#unblockButton-${userId}`);

                        if (statusSpan) {
                            statusSpan.textContent = "Inactive";
                            statusSpan.classList.remove("bg-success");
                            statusSpan.classList.add("bg-secondary");
                        }

                        if (blockButton) {
                            blockButton.innerHTML = '<i class="bx bx-check-circle"></i> Unblock';
                            blockButton.classList.remove("btn-warning");
                            blockButton.classList.add("btn-success");
                            blockButton.setAttribute("onclick", `handleUnblock('${userId}')`);
                            blockButton.setAttribute("title", "Unblock");
                            blockButton.setAttribute("id", `unblockButton-${userId}`);
                        }

                        if (unblockButton) {
                            unblockButton.style.display = 'none'; // Hide the unblock button
                        }

                        swal("Success", "User blocked successfully", "success");
                    } else {
                        swal("Error", "Failed to block user", "error");
                        console.error("Failed to block user:", response.status);
                    }
                } catch (error) {
                    console.error("Error blocking user:", error.message);
                    swal("Error", "An error occurred while blocking the user", "error");
                }
            }
        }

        async function handleUnblock(userId) {
            const confirmation = await confirmAction("unblock");
            if (confirmation) {
                try {
                    const response = await fetch("/admin/customers/unblock", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ userId }),
                    });

                    if (response.ok) {
                        // Update UI if unblocking was successful
                        const statusSpan = document.querySelector(`#status-${userId}`);
                        const blockButton = document.querySelector(`#blockButton-${userId}`);
                        const unblockButton = document.querySelector(`#unblockButton-${userId}`);

                        if (statusSpan) {
                            statusSpan.textContent = "Active";
                            statusSpan.classList.remove("bg-secondary");
                            statusSpan.classList.add("bg-success");
                        }

                        if (unblockButton) {
                            unblockButton.innerHTML = '<i class="bx bx-block"></i> Block';
                            unblockButton.classList.remove("btn-success");
                            unblockButton.classList.add("btn-warning");
                            unblockButton.setAttribute("onclick", `handleBlock('${userId}')`);
                            unblockButton.setAttribute("title", "Block");
                            unblockButton.setAttribute("id", `blockButton-${userId}`);
                        }

                        if (blockButton) {
                            blockButton.style.display = 'none'; // Hide the block button
                        }

                        swal("Success", "User unblocked successfully", "success");
                    } else {
                        swal("Error", "Failed to unblock user", "error");
                        console.error("Failed to unblock user:", response.status);
                    }
                } catch (error) {
                    console.error("Error unblocking user:", error.message);
                    swal("Error", "An error occurred while unblocking the user", "error");
                }
            }
        }


        async function confirmAction(action) {
            let confirmationText;
            switch (action) {
                case "block":
                    confirmationText = "block this user";
                    break;
                case "unblock":
                    confirmationText = "unblock this user";
                    break;
                default:
                    confirmationText = "perform this action";
            }

            return new Promise((resolve) => {
                swal({
                    title: `Are you sure you want to ${confirmationText}?`,
                    text: "Once confirmed, the action cannot be undone.",
                    icon: "warning",
                    buttons: ["Cancel", "Confirm"],
                    dangerMode: true,
                }).then((confirmed) => {
                    resolve(confirmed);
                });
            });
        }
    </script>
</body>

</html>