<%- include('../layouts/user/product-header') %>

  <style>
    /* Style for Cancel Order button */
    .btn-custom.cancel-order-btn {
      background-color: #dc3545;
      /* Red background */
      color: #fff;
      /* White text */
      border-color: #dc3545;
      /* Red border */
      width: 100%;
    }

    /* Style for Return Order button */
    .btn-custom.return-order-btn {
      background-color: #dc3545;
      /* Red background */
      color: #fff;
      /* White text */
      border-color: #dc3545;
      /* Red border */
      margin-left: -350px;
      width: 100%;

    }

    /* Style for Add Review button */
    .btn-custom.add-review-btn {
      background-color: #007bff;
      /* Blue background */
      color: #fff;
      /* White text */
      border-color: #007bff;
      /* Blue border */
      width: 100%;

    }

    /* Style for Download Invoice link */
    .btn-custom.download-invoice-btn {
      background-color: #28a745;
      /* Green background */
      color: #fff;
      /* White text */
      border-color: #28a745;
      /* Green border */
      width: 100%;

    }



    .status-label {
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
    }

    /* Status label colors */
    .status-label.pending {
      background-color: #ffc107;
      /* Yellow */
      color: #333;
      /* Dark text color for contrast */
    }

    .status-label.confirmed {
      background-color: #0d6efd;
      /* Blue */
      color: #fff;
      /* White text color */
    }

    .status-label.shipped,
    .status-label.delivered {
      background-color: #198754;
      /* Green */
      color: #fff;
      /* White text color */
    }

    .status-label.cancelled {
      background-color: #dc3545;
      /* Red */
      color: #fff;
      /* White text color */
    }

    .status-label.returned {
      background-color: #dc3545;
      /* Red */
      color: #fff;
    }

    .status-label.returnrequested {
      background-color: #dc6435;
      /* Red */
      color: #fff;
    }


    /* Modal styles */
    .modal-body label {
      font-weight: bold;
    }

    .modal-footer button {
      font-weight: bold;
    }


    /* Additional styles as needed */
    .path a {
      margin-bottom: 5px;
      color: #000;
      text-decoration: none;
    }

    .path a:hover {
      color: red;
      transition-duration: 0.6s;
    }

    .path {
      font-family: Montserrat, sans-serif;
      font-size: 19px;
      text-align: left;
      margin-right: auto;
      margin-top: 10px;
      height: 500px;
    }

    .checkout_form_input input[type="date"] {
      cursor: pointer;
    }

    /* Change cursor for gender radio buttons */
    .gender-inputs input[type="radio"] {
      cursor: pointer;
    }

    .align-right-btn {
      float: right;
    }

    .order-details-section {
      float: right;
      width: 70%;
    }

    .order-products-table {
      width: 100%;
      margin-top: 20px;
    }

    .order-products-table th,
    .order-products-table td {
      padding: 12px;
      vertical-align: middle;
    }

    .product-image {
      width: 100px;
      height: 125px;
      object-fit: cover;
    }

    .status-badge {
      padding: 5px 10px;
      border-radius: 4px;
      font-weight: 500;
      text-transform: capitalize;
    }
  </style>

  <body>
    <% if (typeof orderData !=='undefined' && orderData && orderData.orderedItem) { %>
      <% orderData.orderedItem.forEach((item, index)=> { %>
        <!-- Modal for returnOrder -->
        <div class="modal fade" id="returnOrderModal<%= item._id %>" tabindex="-1" role="dialog"
          aria-labelledby="returnOrderModalLabel<%= item._id %>" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="returnOrderModalLabel<%= item._id %>">Return Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="returnOrderForm<%= item._id %>" action="/returnOrder" method="POST">
                  <input type="hidden" name="productId" value="<%= item.productId._id.toString() %>">
                  <input type="hidden" name="orderItemId" value="<%= item._id.toString() %>">
                  <div class="form-group">
                    <label for="returnReason<%= item._id %>">Select a reason for returning the order:</label>
                    <select class="form-control" id="returnReason<%= item._id %>" name="returnReason">
                      <option value="Defective item received">Defective item received</option>
                      <option value="Wrong item received">Wrong item received</option>
                      <option value="Delayed delivery">Delayed delivery</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="returnOrderForm<%= item._id %>" class="btn btn-danger">Confirm
                  Return</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for addReview -->
        <div class="modal fade" id="addReviewModal<%= item._id %>" tabindex="-1" role="dialog"
          aria-labelledby="addReviewModalLabel<%= item._id %>" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addReviewModalLabel<%= item._id %>">Add Review and Rating</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="addReviewForm<%= item._id %>" action="/addReview" method="POST">
                  <input type="hidden" name="productId" value="<%= item.productId._id.toString() %>">
                  <input type="hidden" name="userId" value="<%= orderData.userId._id.toString() %>">
                  <div class="form-group">
                    <label for="reviewText<%= item._id %>">Your Review:</label>
                    <textarea class="form-control" id="reviewText<%= item._id %>" name="reviewText" rows="3"
                      required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="starRating<%= item._id %>">Star Rating:</label>
                    <select class="form-control" id="starRating<%= item._id %>" name="starRating" required>
                      <option value="1">1 Star</option>
                      <option value="2">2 Stars</option>
                      <option value="3">3 Stars</option>
                      <option value="4">4 Stars</option>
                      <option value="5">5 Stars</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="addReviewForm<%= item._id %>" class="btn btn-primary">Submit Review</button>
              </div>
            </div>
          </div>
        </div>



        <!-- Modal for cancelOrder -->
        <div class="modal fade" id="cancelOrderModal<%= item._id %>" tabindex="-1" role="dialog"
          aria-labelledby="cancelOrderModalLabel<%= item._id %>" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cancelOrderModalLabel<%= item._id %>">Cancel Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="cancelOrderForm<%= item._id %>" action="/cancelOrder" method="POST">
                  <input type="hidden" name="productId" value="<%= item.productId._id.toString() %>">
                  <input type="hidden" name="orderItemId" value="<%= item._id.toString() %>">
                  <div class="form-group">
                    <label for="cancelReason<%= item._id %>">Select a reason for canceling the order:</label>
                    <select class="form-control" id="cancelReason<%= item._id %>" name="cancelReason">
                      <option value="I'm worried about the ratings/reviews">I'm worried about the ratings/reviews
                      </option>
                      <option value="Price of the product has now decreased">Price of the product has now decreased
                      </option>
                      <option value="Delayed delivery">Delayed delivery</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="cancelOrderForm<%= item._id %>" class="btn btn-danger">Confirm
                  Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
          <% } %>

            <!-- Breadcrumb Begin -->
            <div class="container">
              <div class="bread-crumb flex-w  p-r-15 p-t-30 p-lr-0-lg">
                <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                  Home
                  <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>

                <a href="/user-profile" class="stext-109 cl8 hov-cl1 trans-04">
                  User profile
                  <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>

                <a href="/user-profile/myorders" class="stext-109 cl8 hov-cl1 trans-04">
                  My orders
                  <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>

                <a href="#" class="stext-109 cl8 hov-cl1 trans-04">
                  Order details
                  <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>

              </div>
            </div>
            <!-- Breadcrumb End -->

            <!-- Change Password Modal -->
            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
              aria-labelledby="changePasswordModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="/user-profile/change-password" method="post" id="changePasswordForm">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="current_password"
                          required>
                      </div>
                      <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="new_password" required>
                        <small id="passwordHelp" class="form-text text-muted">
                          Your password must be minimum 8 characters long, contain uppercase and lowercase letters, a
                          number,
                          and a
                          special character.
                        </small>
                      </div>
                      <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirm_password"
                          required>
                        <small id="passwordMatchError" class="form-text text-danger" style="display: none;">
                          Passwords do not match!
                        </small>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Personal info Section Begin -->
            <section class="checkout spad">
              <div class="container">
                <form action="#" class="checkout__form">
                  <div class="row d-flex justify-content-end">
                    <div class="path">
                      <div class="l">
                        <a href="/user-profile">Personal Information</a>
                      </div>
                      <p class="text-secondary text-muted">____________________________</p>
                      <div>
                        <a href="/user-profile/myorders" style="color: red;">My Orders</a>
                      </div>
                      <p class="text-secondary text-muted">____________________________</p>
                      <div>
                        <a href="/user-profile/address">Address</a>
                      </div>
                      <p class="text-secondary text-muted">____________________________</p>
                      <div>
                        <a href="/Wallet">Wallet</a>
                      </div>
                      <p class="text-secondary text-muted">____________________________</p>
                      <div>
                        <a href="#" id="changePasswordBtn">Change Password</a>
                      </div>
                      <p class="text-secondary text-muted">____________________________</p>
                      <div>
                        <a href="/refferal">Referral</a>
                      </div>
                      <p class="text-secondary text-muted">____________________________</p>
                    </div>


                    <div class="order-details-section">
                      <div class="container mt-5">
                        <h5 class="text-center font-weight-bold">Order Details</h5>
                        <br><br>

                        <% if (orderData) { %>
                          <!-- Order Summary Section -->
                          <div class="row">
                            <div class="col-md-6">
                              <p><strong>Order ID:</strong>
                                <%= orderData._id %>
                              </p>
                              <p><strong>Order Date:</strong>
                                <%= new Date(orderData.createdAt).toLocaleDateString() %>
                              </p>
                              <p><strong>Payment Method:</strong>
                                <%= orderData.paymentMethod %>
                              </p>
                              <br>
                              <p><strong>Payment Status:</strong>
                                <span
                                  class="status-badge <%= orderData.paymentStatus ? 'bg-success text-white' : 'bg-warning text-black' %>">
                                  <%= orderData.paymentStatus ? 'Payment completed' : 'Payment Pending' %>
                                </span>
                              </p>
                              <% if (!orderData.paymentStatus) { %>
                                <div class="text-center mt-3">
                                  <button id="retryPaymentBtn" class="btn btn-primary"
                                    data-order-id="<%= orderData._id %>">
                                    Retry Payment
                                  </button>
                                </div>
                                <% } %>
                            </div>
                            <div class="col-md-6">
                              <p><strong>Delivery Address:</strong></p>
                              <address>
                                <%= orderData.deliveryAddress.name %><br>
                                  <%= orderData.deliveryAddress.address %><br>
                                    <%= orderData.deliveryAddress.locality %><br>
                                      <%= orderData.deliveryAddress.city %><br>
                                        <%= orderData.deliveryAddress.state %> - <%= orderData.deliveryAddress.pincode
                                            %>
                              </address>
                            </div>
                          </div>

                          <!-- Products Table -->
                          <h5 class="mt-4 font-weight-bold">Ordered Products</h5>
                          <div class="table-responsive">
                            <table class="table table-bordered order-products-table">
                              <thead>
                                <tr>
                                  <th>Product</th>
                                  <th>Name</th>
                                  <th>Quantity</th>
                                  <th>Price</th>
                                  <th>Status</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% orderData.orderedItem.forEach(item=> { %>
                                  <tr>
                                    <td>
                                      <img src="/adminAssets/uploads/product_images/<%= item.productId.images[0] %>"
                                        alt="<%= item.productId.product_name %>" class="product-image">
                                    </td>
                                    <td>
                                      <%= item.productId.product_name %>
                                    </td>
                                    <td>
                                      <%= item.quantity %>
                                    </td>
                                    <td>
                                      ₹<%= item.discountedPrice || item.priceAtPurchase %>
                                        <% if (item.discountedPrice) { %>
                                          <br>
                                          <small style="text-decoration: line-through; color: #e70707;">
                                            ₹<%= item.priceAtPurchase %>
                                          </small>
                                          <% } %>
                                    </td>
                                    <td>
                                      <span class="status-badge status-label <%= item.status.toLowerCase() %>">
                                        <%= item.status %>
                                      </span>
                                    </td>
                                    <td>
                                      <% if (orderData && item) { %>
                                        <% const productStatus = item.status.toLowerCase(); %>
                                        
                                        <div class="d-flex flex-column align-items-end">
                                          <% if (productStatus !== 'delivered' && productStatus !== 'cancelled' && productStatus !== 'returned' && productStatus !== 'returnrequested') { %>
                                            <button type="button" class="btn btn-danger btn-custom cancel-order-btn mb-2" data-toggle="modal" data-target="#cancelOrderModal<%= item._id %>">
                                              Cancel Order
                                            </button>
                                          <% } %>
                                    
                                          <% if (productStatus === 'delivered') { %>
                                            <button type="button" class="btn btn-danger btn-custom return-order-btn mb-2" data-toggle="modal" data-target="#returnOrderModal<%= item._id %>">
                                              Return Order
                                            </button>
                                            
                                            <button type="button" class="btn btn-primary btn-custom add-review-btn mb-2" data-toggle="modal" data-target="#addReviewModal<%= item._id %>">
                                              Add Review
                                            </button>
                                            
                                            <a href="/invoice/<%= orderData._id %>/<%= item.productId._id %>" class="btn btn-primary btn-custom download-invoice-btn">
                                              Download Invoice
                                            </a>
                                          <% } %>
                                        </div>
                                      <% } %>
                                    </td>
                                  </tr>
                                  <% }); %>
                              </tbody>
                            </table>
                          </div>

                          <!-- Order Summary -->
                          <div class="row mt-4">
                            <div class="col-md-6 offset-md-6">
                              <table class="table table-bordered">
                                <tr>
                                  <td>Subtotal:</td>
                                  <td>₹<%= (orderData.orderAmount + orderData.couponDiscount)- orderData.deliveryCharge %>
                                  </td>
                                </tr>
                                <% if (orderData.couponDiscount) { %>
                                  <tr>
                                    <td>Coupon Discount:</td>
                                    <td>-₹<%= orderData.couponDiscount %>
                                    </td>
                                  </tr>
                                  <% } %>
                                    <tr>
                                      <td>Delivery Charge:</td>
                                      <td>₹<%= orderData.deliveryCharge %>
                                      </td>
                                    </tr>
                                    <tr class="font-weight-bold">
                                      <td>Total Amount:</td>
                                      <td>₹<%= orderData.orderAmount %>
                                      </td>
                                    </tr>
                              </table>
                            </div>
                          </div>

                          <% } else { %>
                            <div class="alert alert-warning">Order details not available.</div>
                            <% } %>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </section>
            <!-- Personal info Section End -->

            <!-- Add your JavaScript here -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
              integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
              crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
              integrity="sha384-eMNlqljVRmFW9k4iJ9Vj8aSNYeU7Zr+Fqtwqg6AGpR9PHfsIH8r+EVjE5E4E/Mpc"
              crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
              integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy3zYbFf2L6F4iSOAZOZ/j7g5p6yl7daEQFUvrs"
              crossorigin="anonymous"></script>

            <script>
              $(document).ready(function () {
                // Handle return order form submissions
                $('[id^=returnOrderForm]').submit(function (event) {
                  event.preventDefault();

                  const formData = $(this).serialize();
                  const modalId = $(this).closest('.modal').attr('id');

                  $.post('/returnOrder', formData)
                    .done(function (response) {
                      // Close the specific modal that was used
                      $(`#${modalId}`).modal('hide');

                      // Show success message
                      Swal.fire({
                        title: 'Success!',
                        text: 'Return request submitted successfully',
                        icon: 'success'
                      }).then(() => {
                        location.reload();
                      });
                    })
                    .fail(function (error) {
                      console.error('Error returning order:', error);
                      Swal.fire({
                        title: 'Error!',
                        text: 'An error occurred while processing your return request. Please try again later.',
                        icon: 'error'
                      });
                    });
                });

                // Handle review form submissions
                $('[id^=addReviewForm]').submit(function (event) {
                  event.preventDefault();

                  const formData = $(this).serialize();
                  const modalId = $(this).closest('.modal').attr('id');

                  $.post('/addReview', formData)
                    .done(function (response) {
                      // Close the specific modal that was used
                      $(`#${modalId}`).modal('hide');

                      // Show success message
                      Swal.fire({
                        title: 'Success!',
                        text: 'Review submitted successfully!',
                        icon: 'success'
                      }).then(() => {
                        location.reload();
                      });
                    })
                    .fail(function (error) {
                      console.error('Error submitting review:', error);
                      Swal.fire({
                        title: 'Error!',
                        text: 'An error occurred while submitting your review. Please try again later.',
                        icon: 'error'
                      });
                    });
                });

                // Reset form fields when modals are closed
                $('.modal').on('hidden.bs.modal', function () {
                  const formId = $(this).find('form').attr('id');
                  if (formId) {
                    $(`#${formId}`)[0].reset();
                  }
                });
              });


              $(document).ready(function () {
                $('#changePasswordBtn').click(function () {
                  $('#changePasswordModal').modal('show');
                });


                $(document).ready(function () {
                  // Handle form submission for any cancel order form
                  $('[id^=cancelOrderForm]').submit(function (event) {
                    event.preventDefault();

                    const formData = $(this).serialize();
                    const modalId = $(this).closest('.modal').attr('id');

                    $.post('/cancelOrder', formData)
                      .done(function (response) {
                        // Close the specific modal that was used
                        $(`#${modalId}`).modal('hide');

                        // Show success message
                        Swal.fire({
                          title: 'Success!',
                          text: 'Order cancelled successfully',
                          icon: 'success'
                        }).then(() => {
                          location.reload();
                        });
                      })
                      .fail(function (error) {
                        console.error('Error cancelling order:', error);
                        Swal.fire({
                          title: 'Error!',
                          text: 'An error occurred while cancelling the order. Please try again later.',
                          icon: 'error'
                        });
                      });
                  });
                });

                function updateOrderStatus(newStatus) {
                  var statusLabel = $('.status-label');
                  statusLabel.text(newStatus.charAt(0).toUpperCase() + newStatus.slice(1));
                  statusLabel.removeClass().addClass('status-label').addClass(newStatus);
                  if (newStatus === 'cancelled' || newStatus === 'returned' || newStatus === 'returnrequested') {
                    $('.btn-danger').hide(); // Hide cancel and return buttons
                  }
                }

                // Initial hiding of buttons based on current status
                var orderStatus = $('.status-label').text().trim().toLowerCase();
                if (orderStatus === 'cancelled' || orderStatus === 'returned' || orderStatus === 'returnrequested') {
                  $('.btn-danger').hide(); // Hide cancel and return buttons
                }
              });
            </script>

            <script>
              $(document).ready(function () {
                $('#changePasswordBtn').click(function () {
                  $('#changePasswordModal').modal('show');
                });
              });
              $(document).ready(function () {
                // Show modal when the "Change Password" button is clicked
                $('#changePasswordBtn').click(function () {
                  $('#changePasswordModal').modal('show');
                });

                // Form submission validation
                $('#changePasswordForm').on('submit', function (e) {
                  var newPassword = $('#newPassword').val();
                  var confirmPassword = $('#confirmPassword').val();
                  var passwordMatchError = $('#passwordMatchError');
                  var passwordHelp = $('#passwordHelp');

                  // Regular expression for a strong password: 
                  // at least 8 characters, 1 uppercase, 1 lowercase, 1 number, 1 special character
                  var strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

                  // Check if passwords match
                  if (newPassword !== confirmPassword) {
                    e.preventDefault(); // Stop form submission
                    passwordMatchError.show(); // Show the error message
                  } else {
                    passwordMatchError.hide(); // Hide the error message
                  }

                  // Check if the password is strong enough
                  if (!strongPasswordRegex.test(newPassword)) {
                    e.preventDefault(); // Stop form submission
                    passwordHelp.text('Password is not strong enough!').addClass('text-danger');
                  } else {
                    passwordHelp.text('Your password must be 8-20 characters long, contain uppercase and lowercase letters, a number, and a special character.').removeClass('text-danger');
                  }
                });
              });
            </script>


            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <!-- Include Toastify library in your HTML head -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
            <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

            <%- include('../layouts/user/footer') %>