<%- include("../layouts/user/product-header")-%>


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="/products" class="stext-109 cl8 hov-cl1 trans-04">
				Products
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<a href="/products/womens" class="stext-109 cl8 hov-cl1 trans-04">
				womens
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
		</div>
	</div>

	<% if (messages.success) { %>
		<div class="alert alert-success" role="alert" style="color: green;">
			<%= messages.success %>
		</div>
		<% } %>

			<% if (messages.error) { %>
				<div class="alert alert-danger" role="alert" style="color: red;">
					<%= messages.error %>
				</div>
				<% } %>

					<!-- Product -->
					<div class="bg0 m-t-23 p-b-140">
						<div class="container">
							<div class="flex-w flex-sb-m p-b-52">
								<div class="flex-w flex-l-m filter-tope-group m-tb-10">
									<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
										<a href="/products">All products</a>
									</button>

									<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
										<a href="/products/mens">Mens collection</a>
									</button>

									<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
										<a href="/products/kids">Kids collection</a>
									</button>
									<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 dropdown-toggle"
										type="button" id="brandDropdown" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										Shop by Brand
									</button>
									<div class="dropdown-menu" aria-labelledby="brandDropdown">
										<a class="dropdown-item" href="/products/?brand=cartier">Cartier</a>
										<a class="dropdown-item" href="/products/?brand=rolex">Rolex</a>
										<a class="dropdown-item" href="/products/?brand=omega">Omega</a>
										<a class="dropdown-item" href="/products/?brand=patek-philippe">Patek
											Philippe</a>
										<a class="dropdown-item" href="/products/?brand=tag-heuer">Tag Heuer</a>
									</div>
								</div>
								<div class="flex-w flex-c-m m-tb-10">
									<div
										class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
										<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
										<i
											class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
										Filter
									</div>

									<div
										class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
										<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
										<i
											class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
										Search
									</div>
								</div>

								<!-- Search product -->
								<div class="dis-none panel-search w-full p-t-10 p-b-15">
									<div class="bor8 dis-flex p-l-15">
										<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
											<i class="zmdi zmdi-search"></i>
										</button>

										<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text"
											name="search-product" placeholder="Search">
									</div>
								</div>

								<!-- Filter -->
								<div class="dis-none panel-filter w-full p-t-10">
									<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
										<div class="filter-col1 p-r-15 p-b-27">
											<div class="mtext-102 cl2 p-b-15">Sort By</div>

											<ul>
												<li class="p-b-6">
												  <a href="#" class="filter-link stext-106 trans-04 sort-link" data-sort="featured"> Featured </a>
												</li>
												<li class="p-b-6">
												  <a href="#" class="filter-link stext-106 trans-04 sort-link" data-sort="popularity"> Popularity </a>
												</li>
												<li class="p-b-6">
												  <a href="#" class="filter-link stext-106 trans-04 sort-link" data-sort="average-rating"> Average rating </a>
												</li>
												<li class="p-b-6">
												  <a href="#" class="filter-link stext-106 trans-04 sort-link" data-sort="new-arrivals"> New arrivals </a>
												</li>
												<li class="p-b-6">
												  <a href="#" class="filter-link stext-106 trans-04 sort-link" data-sort="price-low-to-high"> Price: Low to High </a>
												</li>
												<li class="p-b-6">
												  <a href="#" class="filter-link stext-106 trans-04 sort-link" data-sort="price-high-to-low"> Price: High to Low </a>
												</li>
												<li class="p-b-6">
												  <a href="#" class="filter-link stext-106 trans-04 sort-link" data-sort="name-az"> A - Z </a>
												</li>
												<li class="p-b-6">
												  <a href="#" class="filter-link stext-106 trans-04 sort-link" data-sort="name-za"> Z - A </a>
												</li>
												<li class="p-b-6">
												  <a href="#" class="filter-link stext-106 trans-04 sort-link" data-sort="in-stock"> Products in Stock </a>
												</li>
											  </ul>
										</div>
									</div>
								</div>
							</div>

							<div class="row isotope-grid">
								<% if (productData && productData.length> 0) { %>
									<% productData.forEach(function(product) { %>
										<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
											<!-- Block2 -->
											<div class="block2">
												<div class="block2-pic hov-img0">
													<img src="/adminAssets/uploads/product_images/<%= product.images[0] %>"
														alt="IMG-PRODUCT">
													<a href="/product-details/<%= product._id %>"
														class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
														Quick View
													</a>
												</div>
												<div class="block2-txt flex-w flex-t p-t-14">
															<div class="block2-txt-child1 flex-col-l">
														<a href="/product-details/<%= product._id %>" class="product-name stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="text-transform:capitalize;">
														  <%= product.product_name %>
														</a>                  
														<% function formatPriceWithCommas(price) {
															 price = price.toString();
															 let lastThree = price.substring(price.length-3);
															 let otherNumbers = price.substring(0, price.length-3);
															 if (otherNumbers != '') lastThree = ',' + lastThree;
															 let formattedPrice = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
															 return formattedPrice;
														   }
														%>
														<br>
														<% if (product.hasDiscount) { %>
														  <span class="mtext-106 cl2" style="text-decoration: line-through; color: #888;">
															₹<%= formatPriceWithCommas(product.originalPrice) %>
														  </span>
														  <span class="mtext-110 cl2" style="color: #e95a5c;">
															₹<%= formatPriceWithCommas(product.discountedPrice) %> (<%= Math.round(((product.originalPrice - product.discountedPrice) / product.originalPrice) * 100) %>% off)
														  </span>
														<% } else { %>
														  <span class="mtext-110 cl2">
															₹<%= formatPriceWithCommas(product.price) %>
														  </span>
														<% } %>
													  </div>
													  <div class="block2-txt-child2 flex-r p-t-3">
														<a href="#" class="btn-addwish-b2 dis-block" data-product-id="<%= product._id %>">
														  <% if (locals.wishlistProductIds && locals.wishlistProductIds.has(product._id.toString())) { %>
															<img class="icon-heart1 dis-block trans-04" src="/userAssets/images/icons/icon-heart-02.png" alt="ICON" />
														  <% } else { %>
															<img class="icon-heart1 dis-block trans-04" src="/userAssets/images/icons/icon-heart-01.png" alt="ICON" />
														  <% } %>
														</a>
													  </div>
												</div>
											</div>
										</div>
										<% }); %>
											<% } else { %>
												<p>No products available.</p>
												<% } %>
							</div>

							<!-- Load more -->
							<div class="flex-c-m flex-w w-full p-t-45">
								<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
									Load More
								</a>
							</div>
						</div>
					</div>

					<%- include("../layouts/user/footer")-%>